<%= form_for @message, url: {action: "create"} do |f| %>
  <p><%= f.text_field :from_name %></p>
  <%= f.text_field :from_email %>
  <%= f.text_field :subject %>
  <p><%= f.text_area :content %></p>
  <%= f.submit "Create" %>
<% end %>
