<h1>Messages#show</h1>
<p>Find me in app/views/messages/show.html.erb</p>

<p>From: <%= @message.from_name %> (<%= @message.from_email %>)</p>
<p>Subject: <%= @message.subject %></p>
<p>Preview:</p>
<%= raw @message.content %>
<hr/>
<table>
  <tr>
    <th>Recipient</th>
    <th>Sent at</th>
    <th>Opened at</th>
    <th>Clicked at</th>
  </tr>
  <% @send_results.each do |msg| %>
    <tr>
      <td>
        <%= msg.to %>
      </td>
      <td>
        <%= msg.sent_at %>
      </td>
      <td>
        <%= msg.opened_at %>
      </td>
      <td>
        <%= msg.clicked_at %>
      </td>
    </tr>
    <% end %>
  </table>
