<% content_for(:title) do %>
  <%= @user.identity %> dashboard
<% end %>



<h1>Contact details: <%= @user.identity %> (<%= @user.email %>)</h1>
<p>Find me in app/views/users/dashboard.html.erb</p>

<%= @timeline.inspect %>
<hr/>
<% @timeline.each do |item| %>
  <p><%= item[:time] %>: <%= @user.identity %> <%= item[:action] %> <a href="<%= item[:url] %>"><%= item[:title] %></a></p>
<% end %>
