<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).empty? ? "Marketing Automation Rails" : yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user %>
    <p>Current user: <%= current_user.identity %></p>
  <% end %>
  
<%= yield %>


<script>
ahoy.trackView();
</script>

</body>
</html>
